# 0. Content

1. cleaning products dataframe

# 1. Importing Data

In [54]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [55]:
# defining main path
path = r'C:\Users\muffi\OneDrive\CareerFoundry\Instacart Basket Analysis 2023'

In [56]:
# importing OG products dataset
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))

In [57]:
# importing wrangled orders dataset
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled3.csv'), index_col = False)

# 2. Data Consistency Checks

Mixed-data types should always be checked for since they can break your code

Make sure to keep prep scripts separate from analysis scripts

## 2.1. Mixed-Type Data

In [58]:
# creating practice dataset
df_test = pd.DataFrame()

In [59]:
# adding a mixed col
df_test['mix'] = ['a', 'b', 1, True]

In [60]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [61]:
# checking manually for mixed-type cols

# use a for-loop to iterate through the cols
# weirld is a boolean that checks if the current col has inconsistent data types
# if weird > 1, then weird = True
# If weird is true for the col, then print the col

for col in df_test.columns.tolist():
    weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_test[weird]) > 0:
        print(col)

mix

In [62]:
# changing data type
df_test['mix'] = df_test['mix'].astype('str')

In [63]:
# checking dataframe
#df_test['mix'].dtype

## 2.2. Missing Values

In [64]:
# checking for missing data

# .isnull() tells whether a cell is missing data or not
# .sum() adds together the number missing in each row (because True is 1 and False is 0)

df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [65]:
# making a dataframe with the null rows
df_nan = df_prods.loc[df_prods['product_name'].isnull() == True]

In [66]:
# checking the null dataframe
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

Recap of ways to deal with missing data:
    1. Create a new variable that flags missing values
    2. Impute mean or median (for numeric values)
    3. Remove or filter missing data

In [67]:
# replacing missing vals with the mean
#df['col with missing vals'].fillna(mean value, inplace = True)

# replacing missing cals with the median
#df[' col with missing vals'].fillna(median value, inplace = True)

In [68]:
# seeing how many rows I have originally
df_prods.shape

(49693, 5)

In [69]:
# creating a clean dataframe
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [70]:
# checking the size of the cleaned dataframe
df_prods_clean.shape

(49677, 5)

In [71]:
# another way to drop NaNs
#df_prods.dropna(inplace = True)

# dropping NaNs from a specific col
#df_prods.dropna(subset = ['product_name'], inpace = True)

## 2.3. Duplicates

When dealing with duplicates, it is importnt to record occurences, export examples, and send them to the client for futher explanation

In [72]:
# finding duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [73]:
# checking dups
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [74]:
# checking current number of rows
df_prods_clean.shape

(49677, 5)

In [75]:
df_prods_clean_dupless = df_prods_clean.drop_duplicates()

In [76]:
df_prods_clean_dupless.shape

(49672, 5)

## 2.4. Exporting Checked Data

In [77]:
# exporing checked products dataframe
df_prods_clean_dupless.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

# 3. Exercise Script

## 3.1. Orders Descriptive Statistics

In [79]:
# running descriptive analysis
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

order_id and user_id are int and they should be strings

orders_day_of_week looks good

order_hour_of_day looks good

days_since_prior_order is missing data

order_number has a max of 100 and a q3 of 23 (max seems high)

## 3.2. Checking for Mixed-type Data