# 0. Conents

1. orders_products_prior consistency check

2. merging order_products_prior and order dataframes

# 1. Importing Libraries and Data

In [15]:
# importing libaries
import pandas as pd
import numpy as np
import os

In [16]:
# creating data path
path = r'C:\Users\muffi\OneDrive\CareerFoundry\Instacart Basket Analysis 2023'

In [26]:
# importing prior orders data
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data','Original Data','order_products_prior.csv'))

In [44]:
# importing orders data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = 0)

In [45]:
# checking prior orders df
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [46]:
# checking orders df
df_ords.head()
# I have an extra index here that I want to get rid of

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,0.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [53]:
# dropping the extra index col 
df_ords_2 = df_ords.drop(columns= ['Unnamed: 0'])

In [55]:
# checking the better indexed orders df
df_ords_2.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [56]:
# checking prior orders dimension
df_ords_prior.shape

(32434489, 4)

In [57]:
df_ords_2.shape

(3421083, 6)

# 2. Merging Prior Orders and Orders

In [70]:
# merginf prior orders and orders dfs
df_merged_large = df_ords_2.merge(df_ords_prior, on = 'order_id', indicator = True)

In [71]:
# checking the merged df
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [72]:
# checking the indicator counts of the merged df
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

All of the data points appear in both tables

In [73]:
# checking for a full merge
#df_merged_large = df_ords_2.merge(df_ords_prior, on = 'order_id', how ='outer', indicator = True)

In [74]:
# seeing how many data point appear in each df
#df_merged_large['_merge'].value_counts()

There are 206,209 points that only appear in orders

# Exporting as Pickle Files

 .csv files can be used by many programs, are customizable when importing, and have a high compression rate, take more time to import/export, and can lead to col indexing issues

.pkl files are quick to import/export, save your exact Jupyter notebooks, and have a high zipped compression rate, are only available in Python, and aren't customizable when importing

In [75]:
# exporting as pickle file
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [76]:
# checking the merged df dimensions 
df_merged_large.shape

(32434489, 10)